.profile-main {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Add the following styles for mobile screens */
    @media (max-width: 768px) {
    }
}

.profile-card {
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Add the following styles for mobile screens */
    @media (max-width: 768px) {
        width: 300px;
    }
}

.profile-image {
    width: 160px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px;
}

.icon-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 8px;
    /* Add the following styles for mobile screens */
    @media (max-width: 768px) {
        width: 40px;
        height: 40px;
    }
}

.profile-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.profile-occupation {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 15px;
}

.profile-social-links {
    display: flex;
    justify-content: center;
}

.profile-social-link {
    color: #666;
    font-size: 1.2rem;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.profile-social-link:hover {
    color: #000;
}
